/*
!.gitignore
!.gitattributes
!clean_filters
!.gitconfig
!system_config
!root_user_config
.config/*
!.config
.config/openbox/*
!.config/openbox
!.config/openbox/autostart
!.config/openbox/rc.xml
!.config/openbox/menu.xml
.dlume/*
!.dlume
!.dlume/dlume
.gnatstudio/*
!.gnatstudio
!.gnatstudio/keys.xml
!.gnatstudio/preferences.xml
!.gnatstudio/perspectives6.xml
.gnupg/*
!.gnupg
!.gnupg/gpg-agent.conf
.moc/*
!.moc
!.moc/config
.pan2/*
!.pan2
!.pan2/preferences.xml
!.procmailrc
!.profile
!.Xresources
!.bashrc
!.bash_aliases
!.taskrc
!.vimrc
!.xsessionrc
!.xzgvrc
!.tmux.conf
!README.md
!LICENSE
!config_clean_filters
!debian_10.6_original_config_files
!debian_11.0_original_config_files
!debian_11.3_original_config_files
!debian_12.0_original_config_files
